/*Global*/

body {
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    max-width: 1000px;
}

/*Navigation Bar*/
#nav {
    min-height: 72px;
    padding-bottom: .5em;
    background-color: #fffabe
}

.logo {
    position: relative;
    left: 3%;
}

#nav > div {
    height: 100%;
    position: relative;
    margin-top: 1.6em;
}

#nav div:nth-child(2) > div {
    width: 100%;
}

#nav div a {
    font-size: 1em;
    color: #515151;
    padding: 3%;
    text-decoration: none;
    text-transform: uppercase;
}

#nav div a:hover {
    color: #d42551;
    text-decoration: none;
}

/*Hero Image*/

.hero-image {
    padding: 0;
}

.hero-image img {
    width: 100%;
}

/*****************Main Content********************/

/*Welcome Page*/

#welcome-content, #our_macarons-content {
    margin-top: 3em;
    color: #6a6969;
}

#welcome-content aside img {
    padding: 4.5em 0 0 3em;
}

#welcome-content article h3 {
    font-size: 1.25em;
    padding: 1em 0;
}

#welcome-content article p {
    font-size: 0.875em;
}

/*Our Macarons*/

.our_macBg {
    background: url("assets/images/our-macarons-background.png") no-repeat;
    background-size: cover;
    background-position: 50% 75%;
    padding-bottom: 5em;
}


















/*Footer*/

footer {
    font-size: .85em;
    min-height: 80px;
    background-color: #df5277;
    color: #FFF
}

footer .row {
    padding-top: 1.5%;
}

footer .row img {
    padding-bottom: 1.5%;
    padding-left: 2%;
    padding-right: 2%;
    height: 100%;
    width: auto
}

footer .row p {
    font-size: .80em
}

/*Media Queries*/

@media screen and (max-width: 530px) {
    #nav div a {
        font-size: .55em;
        padding: 1%;
    }

    #nav div {
        margin-top: .5em;
    }

    .our_macBg {
        background: none;
    }


}