<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--Bootstrap CSS-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <!--Custom CSS Styles-->
    <link rel="stylesheet" href="css/custom.css" type="text/css">
    <!--Angular CDNs-->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-translate/2.10.0/angular-translate.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-translate/2.10.0/angular-translate-loader-static-files/angular-translate-loader-static-files.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.8/angular-ui-router.min.js"></script>
    <!--<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-sanitize/1.5.3/angular-sanitize.js"></script>-->
    <!--Script for mboutiqueApp-->
    <script src="js/mboutiqueApp.js" type="text/javascript"></script>
    <title>Welcome</title>
</head>
<body ng-app="mboutiqueApp" ng-controller="mboutiqueCtrl">
<div id="lang" class="container">
    <div class="dropdown pull-right">
        <button class="btn btn-sm dropdown-toggle" type="button" data-toggle="dropdown">Lang
            <span class="caret"></span></button>
        <ul class="dropdown-menu">
            <li><a ng-click="changeLanguage('en')">English</a></li>
            <li><a ng-click="changeLanguage('es')">Spanish</a></li>
        </ul>
    </div>
</div>
<!--Nav Container-->
<header class="container" autoscroll="true">
    <!--Navigation Bar-->
    <div id="nav" class="row beige_bg">
        <div class="col-sm-3 text-center">
            <img src="assets/images/logo.png" class="logo" alt="Mboutique logo">
        </div>
        <div class="col-sm-9">
            <div class="pull-right text-center">
                <a ui-sref="welcome" translate="NAV.WELCOME_LINK"></a>
                <a ui-sref="our_macarons" translate="NAV.OUR_MAC_LINK"></a>
                <a ui-sref="gifts_parties" translate="NAV.GIFTS_PARTIES"></a>
                <a ui-sref="contact" translate="NAV.CONTACT"></a>
            </div>
        </div>
    </div>
    <!--End of Navigation Bar-->
</header>


<!--Main Content Container-->
<section class="container">
    <!--This is where the content will be injected-->
    <div ui-view></div>
</section>
<!--End of Main Content section-->


<!--Footer Container-->
<footer class="container">
    <div class="row">
        <div class="col-sm-4 text-center">
            <img src="assets/images/mail.png" alt="email us at order@mboutique.com">
            order@mboutique.com
        </div>
        <div class="col-sm-4 text-center">
            <img src="assets/images/phone.png" alt="Call Mboutique at 949-800-311">
            949.800.3111
        </div>
        <div class="col-sm-4 text-center">
            {{ 'FTR.FOLLOW' | translate }}
            <img src="assets/images/facebook.png" alt="Mboutique facebook link">
            <img src="assets/images/twitter.png" alt="Mboutique twitter link">
        </div>
    </div>
    <div class="row">
        <p class="text-center" translate="FTR.COPY"></p>
    </div>
</footer>
<!--End of Footer section-->

<!--jQery and Bootstrap JS libraries-->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
</body>
</html>