<!--Contact Template-->

<!--Hero Image-->
<div class="row">
    <div class="col-xs-12 hero-image">
        <img src="assets/images/contact-image.png" class="img-responsive" alt="Welcome image of our macarones">
    </div>
</div>

<!--Contact Page Main Content-->
<section id="contact-content" class="row">
    <article class="col-sm-4">
        <h3 translate="CON.T1"></h3>
        <ul>
            <li translate="CON.M-F"></li>
            <li translate="CON.SAT"></li>
            <li translate="CON.SUN"></li>
            <li translate="CON.HOL"></li>
        </ul>
        <p>
            1625 Post Str<br>
            San Francisco, CA 94115<br>
        </p>
        <p>949.800-31111</p>
        <p>order@mboutique.com</p>
        <p translate="CON.P1"></p>
    </article>
    <article class="col-sm-4" id="contactForm">
        <h3 translate="CON.T2"></h3>
        <form action="#">
            <input type="text" placeholder="{{ 'CON.NAME' | translate }}"><br>
            <input type="text" placeholder="{{ 'CON.EMAIL' | translate }}"><br>
            <input type="text" placeholder="{{ 'CON.PHONE' | translate }}"><br>
            <input type="text" placeholder="{{ 'CON.SUB' | translate }}"><br>
            <textarea rows="3" placeholder="{{ 'CON.MSG' | translate }}"></textarea><br>
            <div>
                <input type="button" value="{{ 'CON.SEND' | translate }}">
            </div>
        </form>
    </article>
    <aside class="col-sm-4 hidden-xs text-center">
        <img src="assets/images/macarons-image.png" alt="Image of macarons">
    </aside>
</section>
