<!--Contact Template-->

<!--Hero Image-->
<div class="row">
    <div class="col-xs-12 hero-image">
        <img src="assets/images/contact-image.png" class="img-responsive" alt="Welcome image of our macarones">
    </div>
</div>

<!--Contact Page Main Content-->
<section id="contact-content" class="row">
    <article class="col-sm-4">
        <h3>Visit us!</h3>
        <ul>
            <li>Monday - Friday | 10am - 9pm</li>
            <li>Saturday | 10am - 8pm</li>
            <li>Sundsy | 11am - 7pm</li>
            <li>Closed Thanksgiving Day, Christmas Day, and Easter Day</li>
        </ul>
        <p>
            1625 Post Str<br>
            San Francisco, CA 94115<br>
        </p>
        <p>949.800-31111</p>
        <p>order@mboutique.com</p>
        <p>Send your questions, comments and flavor suggestions or place an order!</p>
    </article>
    <article class="col-sm-4" id="contactForm">
        <h3>Contact Form</h3>
        <form action="#">
            <input type="text" placeholder="Name"><br>
            <input type="text" placeholder="Email"><br>
            <input type="text" placeholder="Phone"><br>
            <input type="text" placeholder="Subject"><br>
            <textarea  rows="3" placeholder="Message"></textarea><br>
            <div>
                <input type="button" value="Send">
            </div>
        </form>
    </article>
    <aside class="col-sm-4" id="asideImage">
        <img src="assets/images/macarons-image.png" alt="Image of macarons">
    </aside>
</section>
