<!--Gifts and Parties Template-->

<!--Hero Image-->
<div class="row">
    <div class="col-xs-12 hero-image">
        <img src="assets/images/gifts-parties-image.png" class="img-responsive" alt="Welcome image of our macarones">
    </div>
</div>

<!--MAIN CONTENT -->
<section id="gifts_parties-content" class="row gifts_partiesBg">
    <article class="row">
        <h3 translate="GNP.T1"></h3>
        <p translate="GNP.P1"><span>orders@mboutique.com</span></p>
    </article>
    <article class="row">
        <div class="col-sm-7">
            <h3 translate="GNP.T2"></h3>
            <p translate="GNP.P2"></p>
            <ul>
                <li translate="GNP.6MAC"></li>
                <li translate="GNP.12MAC"></li>
                <li translate="GNP.24MAC"></li>
                <li translate="GNP.36MAC"></li>
                <li translate="GNP.60MAC"></li>
            </ul>
            <h3 translate="GNP.T3"></h3>
            <p translate="GNP.P3"></p>
            <ul>
                <li translate="GNP.TOWER"></li>
            </ul>
        </div>
    </article>
</section>

