<!--our_macrons_template.html -->

<!--Hero Image-->
<div class="row">
    <div class="col-xs-12 hero-image">
        <img src="assets/images/our-macarons-image.png" class="img-responsive" alt="Welcome image of our macarones">
    </div>
</div>

<!--Our Macarons main Content-->
<section id="our_macarons-content" class="row">
    <div class="row">
        <article class="col-sm-12">
            <h3 translate="OM.T1"></h3>
            <p translate="OM.P1"></p>
        </article>
    </div>
    <div class="row our_macBg">
        <article class="col-sm-3 col-xs-12">
            <h3 translate="OM.T2"></h3>
            <ul>
                <li translate="OM.CHOC"></li>
                <li translate="OM.COCO"></li>
                <li translate="OM.CAFE"></li>
                <li translate="OM.GT"></li>
                <li translate="OM.LEM"></li>
                <li translate="OM.VAN"></li>
                <li translate="OM.ROSE"></li>
                <li translate="OM.RASP"></li>
                <li translate="OM.TIFF"></li>
                <li translate="OM.PIST"></li>
                <li translate="OM.ALMD"></li>
                <li translate="OM.VIOL"></li>
                <li translate="OM.CARM"></li>
            </ul>
        </article>
    </div>
    <div class="row">
        <article class="col-sm-12">
            <p translate="OM.P2"></p>
        </article>
    </div>
</section>
<!--End our Our Macarons main content-->
