<!-- partial-our_macrons.html -->

<!--Hero Image-->
<div class="row">
    <div class="col-xs-12 hero-image">
        <img src="assets/images/our-macarons-image.png" class="img-responsive" alt="Welcome image of our macarones">
    </div>
</div>

<!--MAIN CONTENT -->
<section id="our_macarons-content" class="row">
    <div class="row">
        <article class="col-sm-12">
            <h3>Our macarons are freshly made by hand</h3>
            <p>The vivid hues of our unique macarons reflect the natural flavors and essences that infuse the
                ganache filling of these delicious almond cookies - each has its own personality, and all of them
                are made to savour for their delicacy and unique character.</p>
        </article>
    </div>

    <div class="row our_macBg">
        <article class="col-sm-3 col-xs-12">
            <h3>Classics</h3>
            <ul>
                <li>caribbean chocolate</li>
                <li>coconut</li>
                <li>colombian coffee</li>
                <li>green tea</li>
                <li>lemon</li>
                <li>madigascar vanilla</li>
                <li>ros</li>
                <li>rapbery</li>
                <li>tiffany blue</li>
                <li>sicilian pistachio</li>
                <li>sweet wedding almond</li>
                <li>violet cassis</li>
                <li>salted carmel</li>
            </ul>
        </article>
    </div>

    <div class="row">
        <article class="col-sm-12">
            <p>After purchase we recommend keeping macarons in the refrigerator, let them come to room temperature
                before serving - about 10 minutes. For best degustation, our macarons should be consumed within 3
                days.</p>
        </article>
    </div>
</section>
