<!-- welcome_template.html -->

<!--Hero Image-->
<div class="row">
    <div class="col-xs-12 hero-image">
        <img src="assets/images/welcome-image.png" class="img-responsive" alt="Welcome image of our macarones">
    </div>
</div>

<!--Page Content-->
<section id="welcome-content" class="row">
    <!--General Macaron Info-->
    <aside class="col-sm-4 hidden-xs text-center">
        <img class="img-responsive" src="assets/images/macarons-image.png" alt="Image of macarons">
    </aside>
    <article class="col-sm-8 col-xs-12">
        <h3>Welcom to MBoutique&excl;</h3>
        <p>We're a home based business that specializes in the making of French macarones, a gluten-free pastry
            item made from almonds. Our business began at the West Reading Farmers Market in 2011. Last year
            (2103) marked out third and final season of participation at the market. MBoutique was established to
            pay homage to the delicate French confectionery, the macaron. Our shop has been recognized as the
            connoisseurs of this delicious French pastry because of the wonderful variety of flavors from our
            great master chefs.</p>

        <h3>We love Macarons&excl;</h3>
        <p>Renowned macarons, French delights of the moment can be met in a variety of flavors and colors and
            are brilliant precisely because of their simplicity - a crispy coating, but delicate in a loose
            blanket jam, chocolate butter cream is spread inviting.</p>

        <p>Macarons combines perfectly with champagne or white whine, tea or hot chocolate, fresh juices and
            natural fruit flavored coffee and guarantee that these little delights soon become friend that you
            cannot break. </p>
        <h3>Find the flavor that you like. Try a sample every day!</h3>
    </article>
</section>

<!--Macaron Table Section-->
<section id="welcome-table" class="row menu-container">
        <div class="item">
            <ul>
                <li>Monday</li>
                <li>15:00 - 16:00</li>
                <li>&nbsp;</li>
                <li class="chocolate">chocolate</li>
                <li class="coconut">coconut</li>
            </ul>
        </div>
        <div class="item">
            <ul>
                <li>Tuesday</li>
                <li>14:00 - 15:00</li>
                <li>&nbsp;</li>
                <li class="violetCassis">violet cassis</li>
                <li class="greenTea">green tea</li>
            </ul>
        </div>
        <div class="item">
            <ul>
                <li>Wednesday</li>
                <li>09:00 - 10:00</li>
                <li>&nbsp;</li>
                <li class="passionFruit">passion fruit</li>
                <li class="vanilla">vanilla</li>
            </ul>
        </div>
        <div class="item">
            <ul>
                <li>Thursday</li>
                <li>18:00 - 19:00</li>
                <li>&nbsp;</li>
                <li class="coffee">coffee</li>
                <li class="pistachio">pistachio</li>
            </ul>
        </div>
        <div class="item">
            <ul>
                <li>Friday</li>
                <li>11:00 - 12:00</li>
                <li>&nbsp;</li>
                <li class="raspbery">raspbery</li>
                <li class="lemon">lemon</li>
            </ul>
        </div>
        <div class="item">
            <ul>
                <li>Saturday</li>
                <li>13:00 - 14:00</li>
                <li>&nbsp;</li>
                <li class="rose">rose</li>
                <li class="tiffanyBlue">tiffany blue</li>
            </ul>
        </div>
        <div class="item">
            <ul>
                <li>Sunday</li>
                <li>10:00 - 11:00</li>
                <li>&nbsp;</li>
                <li class="carmel">carmel</li>
                <li class="almond">almond</li>
            </ul>
    </div>
</section>