<!-- welcome_template.html -->

<!--Hero Image-->
<div class="row">
    <div class="col-xs-12 hero-image">
        <img src="assets/images/welcome-image.png" class="img-responsive" alt="Welcome image of our macarones">
    </div>
</div>

<!--Welcome page Content-->
<section id="welcome-content" class="row">
    <!--General Macaron Info-->
    <aside class="col-sm-4 hidden-xs text-center">
        <img class="img-responsive" src="assets/images/macarons-image.png" alt="Image of macarons">
    </aside>
    <article class="col-sm-8 col-xs-12">
        <h3 translate="HOME.T1"></h3>
        <p translate="HOME.P1"></p>

        <h3 translate="HOME.T2"></h3>
        <p translate="HOME.P2"></p>

        <p translate="HOME.P3"></p>
        <h3 translate="HOME.T3"></h3>
    </article>
</section>

<!--Macaron Table Section-->
<section id="welcome-table" class="row menu-container">
        <div class="item">
            <ul>
                <li translate="HOME.MON"></li>
                <li>15:00 - 16:00</li>
                <li>&nbsp;</li>
                <li class="chocolate" translate="HOME.CHOC"></li>
                <li class="coconut" translate="HOME.COCO"></li>
            </ul>
        </div>
        <div class="item">
            <ul>
                <li translate="HOME.TUES"></li>
                <li>14:00 - 15:00</li>
                <li>&nbsp;</li>
                <li class="violetCassis" translate="HOME.VIOL"></li>
                <li class="greenTea" translate="HOME.GT"></li>
            </ul>
        </div>
        <div class="item">
            <ul>
                <li translate="HOME.WED"></li>
                <li>09:00 - 10:00</li>
                <li>&nbsp;</li>
                <li class="passionFruit" translate="HOME.PF"></li>
                <li class="vanilla" translate="HOME.VAN"></li>
            </ul>
        </div>
        <div class="item">
            <ul>
                <li translate="HOME.THUR"></li>
                <li>18:00 - 19:00</li>
                <li>&nbsp;</li>
                <li class="coffee" translate="HOME.CAFE"></li>
                <li class="pistachio" translate="HOME.PIST"></li>
            </ul>
        </div>
        <div class="item">
            <ul>
                <li translate="HOME.FRI"></li>
                <li>11:00 - 12:00</li>
                <li>&nbsp;</li>
                <li class="raspbery" translate="HOME.RASP"></li>
                <li class="lemon" translate="HOME.LEM"></li>
            </ul>
        </div>
        <div class="item">
            <ul>
                <li translate="HOME.SAT"></li>
                <li>13:00 - 14:00</li>
                <li>&nbsp;</li>
                <li class="rose" translate="HOME.ROSE"></li>
                <li class="tiffanyBlue" translate="HOME.TIFF"></li>
            </ul>
        </div>
        <div class="item">
            <ul>
                <li translate="HOME.SUN"></li>
                <li>10:00 - 11:00</li>
                <li>&nbsp;</li>
                <li class="carmel" translate="HOME.CARM"></li>
                <li class="almond" translate="HOME.ALMD"></li>
            </ul>
    </div>
</section>
<!--End Welcome page content-->